#title {text-align: center; font-weight: bold;
 background-color: rgb(247, 218, 92); color: rgb(158, 46, 38); font-size: 65px;
font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: normal;
}

h4 {text-align: center; font-weight: 500; font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: large;
}

.topnav {background-color: rgb(223, 156, 80); color: linen;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: x-large; 
}
h2 {text-align: center; background-color: rgb(247, 218, 92); font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: normal;
}
p {text-align: center; font-size: large; font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {text-align: center; font-size: large; font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table {text-align: center; background-color: rgb(247, 200, 129); align-self: center; font-size: large;
}
.center {margin-left: auto; margin-right: auto;
}

a {color: rgb(190, 235, 212);
}

a {color: rgb(158, 46, 38);
}
.center {margin-left: auto; margin-right: auto;
}

h3 {font-weight: normal; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: large; background-color: rgb(247, 200, 129);
}

div {text-align: center;
}
div:hover { background-color: rgb(255, 182, 122);}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  span {font-size: medium; font-family: Verdana, Geneva, Tahoma, sans-serif; 
  }